<a href="https://colab.research.google.com/github/janvincentvallente/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  X=5
  print(X)

5

Create Objects

In [10]:
class OOP1_2:
  def __init__(self,name,age):  #__init__(parameter)
    self.name=name            #attributes
    self.age=age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Vincent", 20)  #create objects


print(person.name) 
print(person.age)
print(person.identity)

Vincent
20
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f892d7c3110>>

In [12]:
#Modify the Object Name

person.name="John"
print(person.name)
print(person.age)

John
20

In [13]:
person.age=25

print(person.name)
print(person.age)

John
25

In [14]:
#Delete the Object

del person.name

In [15]:
print(person.name)

AttributeError: ignored

In [16]:
print(person.age)

25

Application 1 - Write a Python Program that computes the area of a square, and name its class as Square, sides as attribute.

In [20]:
class Square:
  def __init__(self,sides):
    self.sides=sides

  def area(self):
    return self.sides*self.sides  #formula to compute the area of the square

  def display(self):
    print("The area of the square is:",self.area())

square = Square(4)

print(square.sides)
square.display()

4
The area of the square is: 16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class name MyClass, and name, age, school, course as attributes

In [23]:
class MyClass:
  def __init__(self,name,age,school,course):
    self.name = name
    self.age = age
    self.school = school
    self.course = course

  def identity(self):
    print(self.name, self.age, self.school, self.course)

student = MyClass("Jan Vincent C. Vallente", 20, "Cavite State University", "BS Computer Engineering")

print(student.name)
print(student.age)
print(student.school)
print(student.course)

Jan Vincent C. Vallente
20
Cavite State University
BS Computer Engineering